/* ===== Reset & Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  background: light-dark(#fff, #000);
  color: light-dark(#222, #ddd);
  line-height: 1.6;
  padding: 1rem;
}

/* ===== Header ===== */
h1 {
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: light-dark(#333, #ccc);
  letter-spacing: -0.5px;
  &::before {
    content: '🎶';
    font-size: 1.5em;
    vertical-align: middle;
  }
}

button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 2px 8px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: #07c;
  }
  &:disabled {
    background-color: #bbb;
    cursor: not-allowed;
    opacity: 0.7;
  }
  &:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
  }
  &:active {
    background-color: #0064bd;
    box-shadow: none;
  }
}

audio {
  &::-webkit-media-controls-panel {
    background-color: light-dark(#ffffff, #222222);
    padding: 0;
  }
  &::-webkit-media-controls-enclosure {
    border-radius: 5px;
  }
}

details {
  summary::after {
    content: ' ➕';
    color: #0077ff;
  }
  summary {
    font-weight: 500;
    color: #0077ff;
    cursor: pointer;
    list-style: none;
  }
  &[open] summary::after {
    content: ' ➖';
    color: #2ecc71;
  }
}

.menu_section {
  padding: 0.6rem 0;
}

.text_information {
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.06));
  color: light-dark(#333, #ddd);
  border-radius: 4px;
  padding: 0.05rem;
  cursor: default;
}

/* ===== Info and Refresh Panel ===== */
.lister_details {
  max-width: 800px;
  margin: 0 auto 0;
  font-size: 0.85rem;
  color: light-dark(#666, #999);
  border-top: 1px solid light-dark(#eee, #111);
  border-bottom: 1px solid light-dark(#eee, #111);
  padding: 0.6rem 0;

  &.no_root_folder {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 10% 0;
    summary {
      display: none;
    }
    ul {
      width: 100%;
      li {
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
        input {
          padding: 10px;
          margin-right: 20px;
          width: 75%;
          font-size: 1.3rem;
          margin-top: 20px;
          border-radius: 3px;
          border: none;
          background-color: light-dark(#ccc, #666);
        }
        button {
          width: 20%;
          font-size: 1.3rem;
          padding: 10px;
          border: none;
        }
        &.help_select_root_folder {
          padding: 10px;
          font-size: 1.8rem;
          color: light-dark(#fff, #fff);
          background-color: light-dark(#0077ff, #0077ff);
          border-radius: 4px;
          &::before {
            content: none;
          }
        }
      }
      .root_folder {
        margin: auto;
        width: 100%;
        &:before {
          content: '';
        }
        span {
          display: none;
        }
      }
    }
  }

  details {
    display: inline-block;
    width: 80%;
    border-collapse: collapse;
    ul {
      list-style: none;
      text-indent: 0.3rem;
      li {
        overflow-wrap: break-word;
        margin: 0.3rem 0;
        &::before {
          content: 'ℹ️ ';
        }
      }
    }
    .root_folder {
      &::before {
        content: '📁 ';
        text-decoration: none;
      }
      input {
        padding: 1px 6px;
        width: 60%;
        margin-right: 0.3rem;
      }
    }
    .database_file {
      overflow-wrap: break-word;
      &::before {
        content: '🛢️ ';
      }
    }
    .number_of_compositions {
      &::before {
        content: '🎼 ';
      }
    }
  }

  .refresh {
    float: inline-end;
    display: block;
    button::before {
      content: '↻ ';
    }
  }
}

/* ===== Sort and Filter Controls ===== */
.controls {
  max-width: 800px;
  margin: 0 auto 1.5rem;
  font-size: 0.85rem;
  color: light-dark(#666, #999);
  border-bottom: 1px solid light-dark(#eee, #111);
  padding-bottom: 0.4rem;
  div {
    vertical-align: top;
  }

  .sort {
    display: inline-block;
    margin-right: 0.5rem;
    select {
      /* padding: 2px 8px; */
      text-overflow: clip;
    }
    input {
      display: none;
    }
    input + span {
      margin-left: 0.2rem;
      vertical-align: middle;
      padding: 0px 6px;
      background: light-dark(#eee, #333);
      color: light-dark(#000, #fff);
    }
    input + span::before {
      content: '✗ ';
    }
    input:checked + span {
      background: light-dark(#333, #eee);
      color: light-dark(#eee, #333);
    }
    input:checked + span::before {
      content: '✓ ';
    }
  }

  .filters {
    display: inline-block;
    width: 70%;
    .filter {
      display: inline-block;

      label {
        margin-bottom: 0.2rem;
        display: inline-block;
      }
    }
    .filter {
      margin-right: 0.5rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    input {
      display: none;
    }
    input + span {
      display: inline-block;
      background: light-dark(#eee, #333);
      color: light-dark(#000, #fff);
      border-radius: 4px;
      padding: 1px 6px;
      cursor: pointer;
      margin-left: 2px;
    }
    input:checked + span {
      background: light-dark(#000, #fff);
      color: light-dark(#fff, #000);
    }
  }
}

/* ===== Compositions Grid ===== */
.compositions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  .composition {
    padding: 1rem;
    border-bottom: 1px solid light-dark(#f6f6f6, #111);
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    position: relative;

    &.unfinished {
      &:hover {
        background-color: light-dark(#f4f4f4, #0b0b0b);
      }
      .status {
        color: light-dark(#d33, rgb(231, 45, 45));
      }
    }
    &.finished {
      background: light-dark(#e6ffe6, #001100);
      border-left: 3px solid #2ecc71;
      padding-left: 0.7rem;
      &:hover {
        background-color: light-dark(#d0ffd0, #002200);
      }
      .status {
        color: light-dark(#2ecc71, #09a94c);
      }
    }
    .title {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
      word-break: break-word;

      &.clickable_title {
        cursor: pointer;
        &:hover {
          color: #0077ff;
          &::after {
            content: '\00a0\00a0\00a0▶';
            font-size: 0.9rem;
          }
        }
      }
    }
    h3 {
      font-size: 0.8rem;
      margin-bottom: 0.3rem;
      word-break: break-word;
    }
    .album span::before {
      content: '💿 ';
    }
    .ep::before {
      content: '  + ';
    }
    .artist::before {
      content: '👤 ';
    }

    .composition_main_info {
      font-size: 0.8rem;
      color: #666;
      margin-bottom: 0.5rem;
      overflow-wrap: anywhere;
      .last_activity::before {
        content: '⏱ ';
      }
      .als_file_path::before {
        content: '🗀 ';
      }
      .audio_file {
        &::before {
          content: '▷ ';
        }
        &.not_exported {
          font-weight: bold;
        }
      }
      .audio_source audio {
        vertical-align: middle;
        width: 100%;
        max-width: 250px;
        margin-top: 0.3rem;
        height: 40px;
      }
      .no_info_file {
        &::before {
          content: '❗';
        }
        color: red;
        & button {
          font-weight: 600;
          padding: 1px 3px;
          border-radius: 0%;
          background-color: rgba(255, 0, 0, 0.7);
          box-shadow: none;
          text-decoration: underline;
          border: none;
        }
      }
    }

    .play_this_audio {
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
      &::before {
        content: '▶️ ';
        text-decoration: none;
      }
    }

    .status {
      font-weight: 600;
      margin-bottom: 0.5rem;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      float: right;
      position: absolute;
      top: 10px;
      right: 5px;
      cursor: default;
      opacity: 0.7;
      z-index: 0;
    }

    .cover_art {
      float: right;
      margin-right: -0.5rem;
      margin-top: -0.5rem;
      img {
        max-width: 100px;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      }
    }

    .rework {
      margin-bottom: 0.3rem;
      span:last-of-type {
        padding: 0 2%;
        background: light-dark(#fafafa, #111);
      }
      &::before {
        content: '🔁 ';
        color: #e67e22;
      }
    }
    .rework_multiple_lines {
      white-space: pre-wrap;
      span:first-of-type::after {
        content: '⮧';
      }

      span:last-of-type {
        margin-left: 5%;
        padding-left: 3%;
        display: block;
        border-left: 1px solid light-dark(#ddd, #aaa);
        font-size: 0.9em;
      }
    }
  }
}

/* ===== Collapsible Extra Info (click to open) ===== */
.compositions .composition {
  details.composition_details {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    &[open] summary::after {
      content: ' ➖';
      color: #2ecc71;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 0.3rem;
    }

    th,
    td {
      padding: 0.2rem 0.3rem;
      text-align: left;
      border-bottom: 1px solid light-dark(#f0f0f0, #cccccc);
      vertical-align: top;
      white-space: pre-wrap;
    }

    th {
      font-weight: 600;
      color: light-dark(#444, #999);
    }

    .audio_source audio {
      width: 100px;
      padding: 0;
      margin: 0;
      height: 30px;
    }
  }
}

.audio_player_container {
  display: inline;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: light-dark(#fff, #111);
  border: 1px solid light-dark(#ccc, #444);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 12px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));

  div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
  }

  .audio_player_cover_art {
    img {
      vertical-align: middle;
      height: 50px;
      width: auto;
      border-radius: 4px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .audio_player_controls {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;

    audio {
      vertical-align: middle;
      height: 40px;
    }
  }

  .audio_player_information {
    display: inline-block;
    vertical-align: middle;

    .audio_player_title {
      font-size: 0.9rem;
      color: light-dark(#000, #fff);
      display: block;
    }

    .audio_player_artist_album {
      font-size: 0.9rem;
      color: light-dark(#555, #aaa);
      display: block;
    }
  }

  .audio_player_extra_controls {
    float: right;
    padding: 0.5rem;
    margin: 0;
    display: inline;
    vertical-align: middle;

    p {
      cursor: pointer;
      font-size: 1.2rem;
      user-select: none;
      color: #888;
    }

    .loop_enabled {
      color: #fff;
    }
  }
}

/* ===== Responsive ===== */
@media (max-width: 500px) {
  body {
    padding: 0.5rem;
    line-height: 1.3;
  }

  h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 0.2rem;
  }

  .root_folder button {
    font-size: 0px;
    &::after {
      content: '✓';
      font-size: 14px;
    }
  }

  .composition {
    padding: 0.8rem;
  }

  .controls {
    display: grid;
    .sort {
      width: 100%;
      margin-bottom: 0.2rem;
    }
    .filter {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }
  }

  .refresh {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    padding: 1rem;
    button {
      font-size: 0px;
      &::after {
        content: '↻';
        display: block;
        font-size: 2rem;
      }
    }
  }

  .audio_player_container {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border: none;
    border-top: 1px solid light-dark(#ccc, #444);
    padding: 0;
    width: 100%;
    margin: 0;

    .audio_player_cover_art {
      display: none;
    }

    .audio_player_information {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0rem 0.5rem;
      margin-bottom: 0.8rem;
      display: inline;
      width: 50%;

      div {
        display: inline;
        margin: 0;
      }

      .audio_player_title {
        font-size: 1.0rem;
        display: inline;
        margin-right: 0.5rem;
      }

      .audio_player_artist_album {
        font-size: 1.0rem;
        display: inline;
      }
    }

    .audio_player_controls {
      width: 100%;
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;
      audio {
        height: 70px;
        width: 100%;
      }
    }

    .audio_player_extra_controls {
      float: right;
      padding: 0;
      margin: 0;
      margin-bottom: 0.8rem;
      margin-right: 0.8rem;
      display: inline;

      p {
        font-size: 1rem;
      }
    }
  }
}
